//Colors

$background-color: #fffffa; // kolor tła ekranów
$side-nav-color: #5b605f; // panel boczny, nawigacja
$text-color: #4a4a49; //nagłówek, , kolor tekstu w kolumnach
$buttons-color: #ff6600; // przyciski, wyróżnienia, nagłówki ekranów
$info-color: #3498db; // kolor wiadomości typu info,
$warning-color: #ffb03b; // kolor wiadomości typu warning
$success-color: #468966; // kolor wiadomości typu success
$trash-icon-color: #bd4932; // kolor ikony kosza
$table-text-color: #a1a194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
