.cta {
  background-color: $text-color;
  height: 250px;
  .container {
    padding: 0 35px;
    height: 250px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_text {
    color: $background-color;
  }
  h2 {
    font-family: $primary-text-font;
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
  }
  .btn {
    background-color: $buttons-color;
    color: $background-color;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 10px;
    border: none;
    width: 218px;
    height: 55px;
  }
}
