.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $text-color;

  &_logo {
    padding-left: 30px;
  }

  &_login {
    display: flex;
  }
  &_name {
    font-size: 24px;
    color: $background-color;
    font-family: $primary-text-font;
    margin: 5px 20px 0 0;
  }
  &_icon {
    color: $buttons-color;
    font-size: 35px;
    margin-right: 50px;
  }
}

.main_view {
  display:flex;
  height: 100vh;
  background-image: url("../assets/background.png");
  background-repeat: repeat;
  background-size: 400px;
}

.sidebar {
  width: 234px;
  background-color: $side-nav-color;
  color: $background-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  &_paragraph {
    padding:30px 0 20px 20px;
  }
  &_dsh {
    border-left: 5px solid $buttons-color;

  }
  &_icon {
    float: right;
    color: $buttons-color;
    margin-right: 10px;
  }
}