.container_2 {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.columns {
  background-color: #EBEBEB;

  &_box {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &_single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 70px;
  }
  &_img {
    color: $table-text-color;
    font-size: 100px;
    margin-bottom: 20px;

  }
  &_title {
    color: $text-color;
    font-size: 32px;
    margin-top: 13px;

  }
  &_text {
    color: $text-color;
    font-size: 24px;
    margin-top: 10px;
  }
}